[submodule "avr-stl"]
	path = avr-stl
	branch = ide
	url = https://github.com/jkross/avr-stl
[submodule "libs/Arduino-PID-AutoTune-Library"]
	path = libs/Arduino-PID-AutoTune-Library
	url = https://github.com/br3ttb/Arduino-PID-AutoTune-Library
[submodule "libs/Arduino-PID-Library"]
	path = libs/Arduino-PID-Library
	url = https://github.com/br3ttb/Arduino-PID-Library
[submodule "libs/jeelib"]
	path = libs/jeelib
	url = https://github.com/jcw/jeelib
[submodule "libs/RTClib"]
	path = libs/RTClib
	url = https://github.com/adafruit/RTClib
[submodule "libs/uClibc"]
	path = libs/uClibc
	url = git://git.busybox.net/uClibc++
